In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.decomposition import PCA
import plotly
import plotly.figure_factory as ff

In [46]:
# import data 
test = pd.read_csv('include/test.csv')
train = pd.read_csv('include/train.csv')

def preprocess_data(dataframe):
    # drop unneeded columns
    dataframe.drop(dataframe.columns[[0, 3, 8, 10, 11]], axis=1, inplace=True)
    # Get cabin letter 
#     cabins = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G']
#     dataframe['Cabin'] = dataframe['Cabin'].map(lambda x: substrings_in_string(x, cabins))
    print(dataframe.shape[0] - dataframe.dropna().shape[0])
#     enc = LabelEncoder()
#     dataframe['Cabin'] = enc.fit_transform(dataframe['Cabin'])
#     dataframe['Sex'] = enc.fit_transform(dataframe['Sex'])
    return dataframe
    
    
# taken from 
# https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str(big_string).find(substring) != -1:
            return substring
    return np.nan


train = preprocess_data(train)
print(train)
# pca = PCA(n_components = 2)
# pca.fit(train)

177
     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  22.0      1      0    7.2500
1           1       1  female  38.0      1      0   71.2833
2           1       3  female  26.0      0      0    7.9250
3           1       1  female  35.0      1      0   53.1000
4           0       3    male  35.0      0      0    8.0500
5           0       3    male   NaN      0      0    8.4583
6           0       1    male  54.0      0      0   51.8625
7           0       3    male   2.0      3      1   21.0750
8           1       3  female  27.0      0      2   11.1333
9           1       2  female  14.0      1      0   30.0708
10          1       3  female   4.0      1      1   16.7000
11          1       1  female  58.0      0      0   26.5500
12          0       3    male  20.0      0      0    8.0500
13          0       3    male  39.0      1      5   31.2750
14          0       3  female  14.0      0      0    7.8542
15          1       2  female  55.0      0      0   16.0000
16          0       3    male   2.0      4      1   29.1250
17          1       2    male   NaN      0      0   13.0000
18          0       3  female  31.0      1      0   18.0000
19          1       3  female   NaN      0      0    7.2250
20          0       2    male  35.0      0      0   26.0000
21          1       2    male  34.0      0      0   13.0000
22          1       3  female  15.0      0      0    8.0292
23          1       1    male  28.0      0      0   35.5000
24          0       3  female   8.0      3      1   21.0750
25          1       3  female  38.0      1      5   31.3875
26          0       3    male   NaN      0      0    7.2250
27          0       1    male  19.0      3      2  263.0000
28          1       3  female   NaN      0      0    7.8792
29          0       3    male   NaN      0      0    7.8958
..        ...     ...     ...   ...    ...    ...       ...
861         0       2    male  21.0      1      0   11.5000
862         1       1  female  48.0      0      0   25.9292
863         0       3  female   NaN      8      2   69.5500
864         0       2    male  24.0      0      0   13.0000
865         1       2  female  42.0      0      0   13.0000
866         1       2  female  27.0      1      0   13.8583
867         0       1    male  31.0      0      0   50.4958
868         0       3    male   NaN      0      0    9.5000
869         1       3    male   4.0      1      1   11.1333
870         0       3    male  26.0      0      0    7.8958
871         1       1  female  47.0      1      1   52.5542
872         0       1    male  33.0      0      0    5.0000
873         0       3    male  47.0      0      0    9.0000
874         1       2  female  28.0      1      0   24.0000
875         1       3  female  15.0      0      0    7.2250
876         0       3    male  20.0      0      0    9.8458
877         0       3    male  19.0      0      0    7.8958
878         0       3    male   NaN      0      0    7.8958
879         1       1  female  56.0      0      1   83.1583
880         1       2  female  25.0      0      1   26.0000
881         0       3    male  33.0      0      0    7.8958
882         0       3  female  22.0      0      0   10.5167
883         0       2    male  28.0      0      0   10.5000
884         0       3    male  25.0      0      0    7.0500
885         0       3  female  39.0      0      5   29.1250
886         0       2    male  27.0      0      0   13.0000
887         1       1  female  19.0      0      0   30.0000
888         0       3  female   NaN      1      2   23.4500
889         1       1    male  26.0      0      0   30.0000
890         0       3    male  32.0      0      0    7.7500

[891 rows x 7 columns]