In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler 
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import plotly
from plotly.graph_objs import *
import plotly.figure_factory as ff

In [25]:
# import data 
test = pd.read_csv('include/test.csv')
train = pd.read_csv('include/train.csv')


def preprocess_data(dataframe):
    # drop unneeded columns
    dataframe.drop(dataframe.columns[[0, 3, 8, 10, 11]], axis=1, inplace=True)
    # Get cabin letter 
#     cabins = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G']
#     dataframe['Cabin'] = dataframe['Cabin'].map(lambda x: substrings_in_string(x, cabins))
#     print(dataframe.shape[0] - dataframe.dropna().shape[0])
    enc = LabelEncoder()
# #     dataframe['Cabin'] = enc.fit_transform(dataframe['Cabin'])
    dataframe['Sex'] = enc.fit_transform(dataframe['Sex'])
#     dataframe['Sex'].fillna(0, inplace=True)
#     dataframe['Age'].fillna(0, inplace=True)
    print(dataframe.shape)
    dataframe.dropna(inplace=True)
    survived = dataframe['Survived']
    dataframe.drop(['Survived'], axis=1, inplace=True)
    hot = OneHotEncoder()
    print(hot.fit_transform(dataframe['Sex'].values.reshape(-1,1))
#     dataframe.drop(['Survived'], axis=1, inplace=True)
    return dataframe, survived
    
    
# taken from 
# https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str(big_string).find(substring) != -1:
            return substring
    return np.nan

train, survived = preprocess_data(train)
train['Age'] = StandardScaler().fit_transform(train['Age'].values.reshape(-1, 1))
train['Fare'] = StandardScaler().fit_transform(train['Fare'].values.reshape(-1, 1))
print(train)

SyntaxError: invalid syntax (<ipython-input-25-4dc4bae13a7a>, line 25)

In [11]:
print(train.shape)
print(survived.shape)
clf = SVC()
clf.fit(train, survived)
# predictions = clf.predict(train[:600])
# accuracy = accuracy_score(survived[:600], predictions)
# print(accuracy)

(714, 6)
(714,)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
passengerId = test['PassengerId']
test.drop(test.columns[[0, 2, 7, 9, 10]], axis=1, inplace=True)

In [13]:

test.fillna(test.mean(), inplace=True)

     Pclass     Sex       Age  SibSp  Parch      Fare
0         3    male  34.50000      0      0    7.8292
1         3  female  47.00000      1      0    7.0000
2         2    male  62.00000      0      0    9.6875
3         3    male  27.00000      0      0    8.6625
4         3  female  22.00000      1      1   12.2875
5         3    male  14.00000      0      0    9.2250
6         3  female  30.00000      0      0    7.6292
7         2    male  26.00000      1      1   29.0000
8         3  female  18.00000      0      0    7.2292
9         3    male  21.00000      2      0   24.1500
10        3    male  30.27259      0      0    7.8958
11        1    male  46.00000      0      0   26.0000
12        1  female  23.00000      1      0   82.2667
13        2    male  63.00000      1      0   26.0000
14        1  female  47.00000      1      0   61.1750
15        2  female  24.00000      1      0   27.7208
16        2    male  35.00000      0      0   12.3500
17        3    male  21.00000      0      0    7.2250
18        3  female  27.00000      1      0    7.9250
19        3  female  45.00000      0      0    7.2250
20        1    male  55.00000      1      0   59.4000
21        3    male   9.00000      0      1    3.1708
22        1  female  30.27259      0      0   31.6833
23        1    male  21.00000      0      1   61.3792
24        1  female  48.00000      1      3  262.3750
25        3    male  50.00000      1      0   14.5000
26        1  female  22.00000      0      1   61.9792
27        3    male  22.50000      0      0    7.2250
28        1    male  41.00000      0      0   30.5000
29        3    male  30.27259      2      0   21.6792
..      ...     ...       ...    ...    ...       ...
388       3    male  21.00000      0      0    7.7500
389       3    male   6.00000      3      1   21.0750
390       1    male  23.00000      0      0   93.5000
391       1  female  51.00000      0      1   39.4000
392       3    male  13.00000      0      2   20.2500
393       2    male  47.00000      0      0   10.5000
394       3    male  29.00000      3      1   22.0250
395       1  female  18.00000      1      0   60.0000
396       3    male  24.00000      0      0    7.2500
397       1  female  48.00000      1      1   79.2000
398       3    male  22.00000      0      0    7.7750
399       3    male  31.00000      0      0    7.7333
400       1  female  30.00000      0      0  164.8667
401       2    male  38.00000      1      0   21.0000
402       1  female  22.00000      0      1   59.4000
403       1    male  17.00000      0      0   47.1000
404       1    male  43.00000      1      0   27.7208
405       2    male  20.00000      0      0   13.8625
406       2    male  23.00000      1      0   10.5000
407       1    male  50.00000      1      1  211.5000
408       3  female  30.27259      0      0    7.7208
409       3  female   3.00000      1      1   13.7750
410       3  female  30.27259      0      0    7.7500
411       1  female  37.00000      1      0   90.0000
412       3  female  28.00000      0      0    7.7750
413       3    male  30.27259      0      0    8.0500
414       1  female  39.00000      0      0  108.9000
415       3    male  38.50000      0      0    7.2500
416       3    male  30.27259      0      0    8.0500
417       3    male  30.27259      1      1   22.3583

[418 rows x 6 columns]

In [14]:
# preprocess test data
enc = LabelEncoder()
test['Sex'] = enc.fit_transform(test['Sex'])
test['Age'] = StandardScaler().fit_transform(test['Age'].values.reshape(-1, 1))
test['Fare'] = StandardScaler().fit_transform(test['Fare'].values.reshape(-1, 1))

In [15]:

test_predictions = clf.predict(test)

test_predictions = test_predictions.reshape(-1, 1)

combined = np.column_stack((passengerId,test_predictions))
df = pd.DataFrame(combined, columns=["PassengerId", "Survived"])

In [16]:
df.to_csv('csv/answers_svc.csv',index=False)