In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.decomposition import PCA
import plotly
import plotly.figure_factory as ff

In [44]:
# import data 
test = pd.read_csv('include/test.csv')
train = pd.read_csv('include/train.csv')

def preprocess_data(dataframe):
    # drop unneeded columns
    dataframe.drop(dataframe.columns[[0, 3, 8, 11]], axis=1, inplace=True)
    # Get cabin letter 
#     cabins = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G']
#     dataframe['Cabin'] = dataframe['Cabin'].map(lambda x: substrings_in_string(x, cabins))
    print(dataframe.shape[0])
#     enc = LabelEncoder()
#     dataframe['Cabin'] = enc.fit_transform(dataframe['Cabin'])
#     dataframe['Sex'] = enc.fit_transform(dataframe['Sex'])
    return dataframe
    
    
# taken from 
# https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str(big_string).find(substring) != -1:
            return substring
    return np.nan


train = preprocess_data(train)
print(train)
# pca = PCA(n_components = 2)
# pca.fit(train)

891
     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin
0           0       3    male  22.0      1      0    7.2500   NaN
1           1       1  female  38.0      1      0   71.2833     C
2           1       3  female  26.0      0      0    7.9250   NaN
3           1       1  female  35.0      1      0   53.1000     C
4           0       3    male  35.0      0      0    8.0500   NaN
5           0       3    male   NaN      0      0    8.4583   NaN
6           0       1    male  54.0      0      0   51.8625     E
7           0       3    male   2.0      3      1   21.0750   NaN
8           1       3  female  27.0      0      2   11.1333   NaN
9           1       2  female  14.0      1      0   30.0708   NaN
10          1       3  female   4.0      1      1   16.7000     G
11          1       1  female  58.0      0      0   26.5500     C
12          0       3    male  20.0      0      0    8.0500   NaN
13          0       3    male  39.0      1      5   31.2750   NaN
14          0       3  female  14.0      0      0    7.8542   NaN
15          1       2  female  55.0      0      0   16.0000   NaN
16          0       3    male   2.0      4      1   29.1250   NaN
17          1       2    male   NaN      0      0   13.0000   NaN
18          0       3  female  31.0      1      0   18.0000   NaN
19          1       3  female   NaN      0      0    7.2250   NaN
20          0       2    male  35.0      0      0   26.0000   NaN
21          1       2    male  34.0      0      0   13.0000     D
22          1       3  female  15.0      0      0    8.0292   NaN
23          1       1    male  28.0      0      0   35.5000     A
24          0       3  female   8.0      3      1   21.0750   NaN
25          1       3  female  38.0      1      5   31.3875   NaN
26          0       3    male   NaN      0      0    7.2250   NaN
27          0       1    male  19.0      3      2  263.0000     C
28          1       3  female   NaN      0      0    7.8792   NaN
29          0       3    male   NaN      0      0    7.8958   NaN
..        ...     ...     ...   ...    ...    ...       ...   ...
861         0       2    male  21.0      1      0   11.5000   NaN
862         1       1  female  48.0      0      0   25.9292     D
863         0       3  female   NaN      8      2   69.5500   NaN
864         0       2    male  24.0      0      0   13.0000   NaN
865         1       2  female  42.0      0      0   13.0000   NaN
866         1       2  female  27.0      1      0   13.8583   NaN
867         0       1    male  31.0      0      0   50.4958     A
868         0       3    male   NaN      0      0    9.5000   NaN
869         1       3    male   4.0      1      1   11.1333   NaN
870         0       3    male  26.0      0      0    7.8958   NaN
871         1       1  female  47.0      1      1   52.5542     D
872         0       1    male  33.0      0      0    5.0000     B
873         0       3    male  47.0      0      0    9.0000   NaN
874         1       2  female  28.0      1      0   24.0000   NaN
875         1       3  female  15.0      0      0    7.2250   NaN
876         0       3    male  20.0      0      0    9.8458   NaN
877         0       3    male  19.0      0      0    7.8958   NaN
878         0       3    male   NaN      0      0    7.8958   NaN
879         1       1  female  56.0      0      1   83.1583     C
880         1       2  female  25.0      0      1   26.0000   NaN
881         0       3    male  33.0      0      0    7.8958   NaN
882         0       3  female  22.0      0      0   10.5167   NaN
883         0       2    male  28.0      0      0   10.5000   NaN
884         0       3    male  25.0      0      0    7.0500   NaN
885         0       3  female  39.0      0      5   29.1250   NaN
886         0       2    male  27.0      0      0   13.0000   NaN
887         1       1  female  19.0      0      0   30.0000     B
888         0       3  female   NaN      1      2   23.4500   NaN
889         1       1    male  26.0      0      0   30.0000     C
890         0       3    male  32.0      0      0    7.7500   NaN

[891 rows x 8 columns]