In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import plotly
import plotly.figure_factory as ff

In [5]:
# import data 
test = pd.read_csv('include/test.csv')
train = pd.read_csv('include/train.csv')

In [6]:
def preprocess_data(dataframe):
    dataframe.drop(dataframe.columns[[0, 3, 11]], axis=1, inplace=True)
    cabins = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
    dataframe['Cabin'] = dataframe['Cabin'].map(lambda x: substrings_in_string(x, cabins))
    print(dataframe)
    
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if substring.find(str(big_string)) != -1:
            return substring
    return np.nan

preprocess_data(train)

     Survived  Pclass     Sex   Age  SibSp  Parch            Ticket      Fare  \
0           0       3    male  22.0      1      0         A/5 21171    7.2500
1           1       1  female  38.0      1      0          PC 17599   71.2833
2           1       3  female  26.0      0      0  STON/O2. 3101282    7.9250
3           1       1  female  35.0      1      0            113803   53.1000
4           0       3    male  35.0      0      0            373450    8.0500
5           0       3    male   NaN      0      0            330877    8.4583
6           0       1    male  54.0      0      0             17463   51.8625
7           0       3    male   2.0      3      1            349909   21.0750
8           1       3  female  27.0      0      2            347742   11.1333
9           1       2  female  14.0      1      0            237736   30.0708
10          1       3  female   4.0      1      1           PP 9549   16.7000
11          1       1  female  58.0      0      0            113783   26.5500
12          0       3    male  20.0      0      0         A/5. 2151    8.0500
13          0       3    male  39.0      1      5            347082   31.2750
14          0       3  female  14.0      0      0            350406    7.8542
15          1       2  female  55.0      0      0            248706   16.0000
16          0       3    male   2.0      4      1            382652   29.1250
17          1       2    male   NaN      0      0            244373   13.0000
18          0       3  female  31.0      1      0            345763   18.0000
19          1       3  female   NaN      0      0              2649    7.2250
20          0       2    male  35.0      0      0            239865   26.0000
21          1       2    male  34.0      0      0            248698   13.0000
22          1       3  female  15.0      0      0            330923    8.0292
23          1       1    male  28.0      0      0            113788   35.5000
24          0       3  female   8.0      3      1            349909   21.0750
25          1       3  female  38.0      1      5            347077   31.3875
26          0       3    male   NaN      0      0              2631    7.2250
27          0       1    male  19.0      3      2             19950  263.0000
28          1       3  female   NaN      0      0            330959    7.8792
29          0       3    male   NaN      0      0            349216    7.8958
..        ...     ...     ...   ...    ...    ...               ...       ...
861         0       2    male  21.0      1      0             28134   11.5000
862         1       1  female  48.0      0      0             17466   25.9292
863         0       3  female   NaN      8      2          CA. 2343   69.5500
864         0       2    male  24.0      0      0            233866   13.0000
865         1       2  female  42.0      0      0            236852   13.0000
866         1       2  female  27.0      1      0     SC/PARIS 2149   13.8583
867         0       1    male  31.0      0      0          PC 17590   50.4958
868         0       3    male   NaN      0      0            345777    9.5000
869         1       3    male   4.0      1      1            347742   11.1333
870         0       3    male  26.0      0      0            349248    7.8958
871         1       1  female  47.0      1      1             11751   52.5542
872         0       1    male  33.0      0      0               695    5.0000
873         0       3    male  47.0      0      0            345765    9.0000
874         1       2  female  28.0      1      0         P/PP 3381   24.0000
875         1       3  female  15.0      0      0              2667    7.2250
876         0       3    male  20.0      0      0              7534    9.8458
877         0       3    male  19.0      0      0            349212    7.8958
878         0       3    male   NaN      0      0            349217    7.8958
879         1       1  female  56.0      0      1             11767   83.1583
880         1       2  female  25.0      0      1            230433   26.0000
881         0       3    male  33.0      0      0            349257    7.8958
882         0       3  female  22.0      0      0              7552   10.5167
883         0       2    male  28.0      0      0  C.A./SOTON 34068   10.5000
884         0       3    male  25.0      0      0   SOTON/OQ 392076    7.0500
885         0       3  female  39.0      0      5            382652   29.1250
886         0       2    male  27.0      0      0            211536   13.0000
887         1       1  female  19.0      0      0            112053   30.0000
888         0       3  female   NaN      1      2        W./C. 6607   23.4500
889         1       1    male  26.0      0      0            111369   30.0000
890         0       3    male  32.0      0      0            370376    7.7500

    Cabin
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
..    ...
861   NaN
862   NaN
863   NaN
864   NaN
865   NaN
866   NaN
867   NaN
868   NaN
869   NaN
870   NaN
871   NaN
872   NaN
873   NaN
874   NaN
875   NaN
876   NaN
877   NaN
878   NaN
879   NaN
880   NaN
881   NaN
882   NaN
883   NaN
884   NaN
885   NaN
886   NaN
887   NaN
888   NaN
889   NaN
890   NaN

[891 rows x 9 columns]