In [4]:
import numpy as np
import pandas as pd

In [32]:
test = pd.read_csv('include/test.csv')
train = pd.read_csv('include/train.csv')

In [48]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str(big_string).find(substring) != -1:
            return substring
    return np.nan

In [53]:
train_reformated = train.drop(['PassengerId', 'Name'], axis=1)
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
train_reformated['Deck'] = train['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))
train_reformated['Family_Size'] = train_reformated['SibSp'] + train_reformated['Parch']
train_reformated['Fare_Per_Person'] = train_reformated['Fare'] /(train_reformated['Family_Size'] + 1)
print(train_reformated)

     Survived  Pclass     Sex   Age  SibSp  Parch            Ticket      Fare  \
0           0       3    male  22.0      1      0         A/5 21171    7.2500
1           1       1  female  38.0      1      0          PC 17599   71.2833
2           1       3  female  26.0      0      0  STON/O2. 3101282    7.9250
3           1       1  female  35.0      1      0            113803   53.1000
4           0       3    male  35.0      0      0            373450    8.0500
5           0       3    male   NaN      0      0            330877    8.4583
6           0       1    male  54.0      0      0             17463   51.8625
7           0       3    male   2.0      3      1            349909   21.0750
8           1       3  female  27.0      0      2            347742   11.1333
9           1       2  female  14.0      1      0            237736   30.0708
10          1       3  female   4.0      1      1           PP 9549   16.7000
11          1       1  female  58.0      0      0            113783   26.5500
12          0       3    male  20.0      0      0         A/5. 2151    8.0500
13          0       3    male  39.0      1      5            347082   31.2750
14          0       3  female  14.0      0      0            350406    7.8542
15          1       2  female  55.0      0      0            248706   16.0000
16          0       3    male   2.0      4      1            382652   29.1250
17          1       2    male   NaN      0      0            244373   13.0000
18          0       3  female  31.0      1      0            345763   18.0000
19          1       3  female   NaN      0      0              2649    7.2250
20          0       2    male  35.0      0      0            239865   26.0000
21          1       2    male  34.0      0      0            248698   13.0000
22          1       3  female  15.0      0      0            330923    8.0292
23          1       1    male  28.0      0      0            113788   35.5000
24          0       3  female   8.0      3      1            349909   21.0750
25          1       3  female  38.0      1      5            347077   31.3875
26          0       3    male   NaN      0      0              2631    7.2250
27          0       1    male  19.0      3      2             19950  263.0000
28          1       3  female   NaN      0      0            330959    7.8792
29          0       3    male   NaN      0      0            349216    7.8958
..        ...     ...     ...   ...    ...    ...               ...       ...
861         0       2    male  21.0      1      0             28134   11.5000
862         1       1  female  48.0      0      0             17466   25.9292
863         0       3  female   NaN      8      2          CA. 2343   69.5500
864         0       2    male  24.0      0      0            233866   13.0000
865         1       2  female  42.0      0      0            236852   13.0000
866         1       2  female  27.0      1      0     SC/PARIS 2149   13.8583
867         0       1    male  31.0      0      0          PC 17590   50.4958
868         0       3    male   NaN      0      0            345777    9.5000
869         1       3    male   4.0      1      1            347742   11.1333
870         0       3    male  26.0      0      0            349248    7.8958
871         1       1  female  47.0      1      1             11751   52.5542
872         0       1    male  33.0      0      0               695    5.0000
873         0       3    male  47.0      0      0            345765    9.0000
874         1       2  female  28.0      1      0         P/PP 3381   24.0000
875         1       3  female  15.0      0      0              2667    7.2250
876         0       3    male  20.0      0      0              7534    9.8458
877         0       3    male  19.0      0      0            349212    7.8958
878         0       3    male   NaN      0      0            349217    7.8958
879         1       1  female  56.0      0      1             11767   83.1583
880         1       2  female  25.0      0      1            230433   26.0000
881         0       3    male  33.0      0      0            349257    7.8958
882         0       3  female  22.0      0      0              7552   10.5167
883         0       2    male  28.0      0      0  C.A./SOTON 34068   10.5000
884         0       3    male  25.0      0      0   SOTON/OQ 392076    7.0500
885         0       3  female  39.0      0      5            382652   29.1250
886         0       2    male  27.0      0      0            211536   13.0000
887         1       1  female  19.0      0      0            112053   30.0000
888         0       3  female   NaN      1      2        W./C. 6607   23.4500
889         1       1    male  26.0      0      0            111369   30.0000
890         0       3    male  32.0      0      0            370376    7.7500

           Cabin Embarked Deck  Family_Size  Fare_Per_Person
0            NaN        S  NaN            1         3.625000
1            C85        C    C            1        35.641650
2            NaN        S  NaN            0         7.925000
3           C123        S    C            1        26.550000
4            NaN        S  NaN            0         8.050000
5            NaN        Q  NaN            0         8.458300
6            E46        S    E            0        51.862500
7            NaN        S  NaN            4         4.215000
8            NaN        S  NaN            2         3.711100
9            NaN        C  NaN            1        15.035400
10            G6        S    G            2         5.566667
11          C103        S    C            0        26.550000
12           NaN        S  NaN            0         8.050000
13           NaN        S  NaN            6         4.467857
14           NaN        S  NaN            0         7.854200
15           NaN        S  NaN            0        16.000000
16           NaN        Q  NaN            5         4.854167
17           NaN        S  NaN            0        13.000000
18           NaN        S  NaN            1         9.000000
19           NaN        C  NaN            0         7.225000
20           NaN        S  NaN            0        26.000000
21           D56        S    D            0        13.000000
22           NaN        Q  NaN            0         8.029200
23            A6        S    A            0        35.500000
24           NaN        S  NaN            4         4.215000
25           NaN        S  NaN            6         4.483929
26           NaN        C  NaN            0         7.225000
27   C23 C25 C27        S    C            5        43.833333
28           NaN        Q  NaN            0         7.879200
29           NaN        S  NaN            0         7.895800
..           ...      ...  ...          ...              ...
861          NaN        S  NaN            1         5.750000
862          D17        S    D            0        25.929200
863          NaN        S  NaN           10         6.322727
864          NaN        S  NaN            0        13.000000
865          NaN        S  NaN            0        13.000000
866          NaN        C  NaN            1         6.929150
867          A24        S    A            0        50.495800
868          NaN        S  NaN            0         9.500000
869          NaN        S  NaN            2         3.711100
870          NaN        S  NaN            0         7.895800
871          D35        S    D            2        17.518067
872  B51 B53 B55        S    B            0         5.000000
873          NaN        S  NaN            0         9.000000
874          NaN        C  NaN            1        12.000000
875          NaN        C  NaN            0         7.225000
876          NaN        S  NaN            0         9.845800
877          NaN        S  NaN            0         7.895800
878          NaN        S  NaN            0         7.895800
879          C50        C    C            1        41.579150
880          NaN        S  NaN            1        13.000000
881          NaN        S  NaN            0         7.895800
882          NaN        S  NaN            0        10.516700
883          NaN        S  NaN            0        10.500000
884          NaN        S  NaN            0         7.050000
885          NaN        Q  NaN            5         4.854167
886          NaN        S  NaN            0        13.000000
887          B42        S    B            0        30.000000
888          NaN        S  NaN            3         5.862500
889         C148        C    C            0        30.000000
890          NaN        Q  NaN            0         7.750000

[891 rows x 13 columns]